.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    background-color: rgba(0, 0, 0, 0.733);
    backdrop-filter: blur(5px);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    margin-left: .5em;
}

.logo h1 span {
    font-size: 17px;
    color: #f04b42ea;
}

.link_items {
    display: flex;
    list-style: none;
}

.link_items li {
    margin-right: 1.3em;
}

.link_items a {
    font-weight: bold;
    padding: 5px;
    transition: .4s;
}

.link_items a:hover {
    color: #f04b42ea;
    text-decoration: underline;
}

@media screen and (max-width: 425px) {
    .navbar {
        font-size: 14px;
    }

    .logo h1 span {
        font-size: 12px;
    }
}

@media screen and (max-width: 490px) {
    .logo h1 {
        display: none;
    }
}